:root{
    --red:#ff414d;
    --black:#212121;
    --blue: #01c5c4;
    --white: #fbf7f0;
    --green: #03c4a1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
    color: #ff414d;
}
/*Go top*/
.go-top{
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--green);
    background: #fff;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
.go-top:hover{
    border: 2px solid var(--white);
    background:var(--blue);
}
.go-top:hover span{
    color: var(--white);
}
.go-top > span{
    font-size: 30px;
    color: var(--black);
}
/*Menu de Navegacio*/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
    margin-top: auto; 
}
.menu .logo-box img{
    margin-top: auto;
    height: 50px;
    width: 150px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .listas{
    display: flex;
}
.menu .list-container .listas li{
    list-style: none;
}
.menu .list-container .listas li a{
    text-decoration: none;
    margin: 0px 5px;
    padding: 10px;
    color: var(--black);
    border-radius: 10px;
    font-size: 22px;
    transition: 0.3s;
}
.menu .list-container .listas li a.activo{
    background: var(--green);
    color: #fff;
}
.menu .list-container .listas li a:hover{
    background: var(--green);
    color: #fff;
}
.btn-menu > .fa-bars{
    display: none;
}
/*IMG Header*/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/img1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 310px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.inicio{
    width: 100%;
    margin-top: 120px;
    position: relative;
    background-attachment: fixed;
}
.inicio .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inicio .info-container h1{
    font-size: 60px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px; 
}
.inicio .info-container p{
    text-align: center;
    font-size: 25px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}
.inicio .info-container .info-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.inicio .info-container .info-gallery img{
    height: 250px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
/*IMG mate1*/
.img-mate{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-mate1.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-mate .mate1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-mate .mate1 h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-mate .mate1 hr{
    width: 293px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG matediscretas*/
.img-matedis{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-matedis.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-matedis .matedis{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-matedis .matedis h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-matedis .matedis hr{
    width: 450px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG Algebra*/
.img-algebra{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-algebra.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-algebra .algebra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-algebra .algebra h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-algebra .algebra hr{
    width: 290px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*Nosotros*/
.img-nosotros{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/nosotros.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-nosotros .nosotros-pg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-nosotros .nosotros-pg h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.contenedor-nosotros{
    width: 100%;
    margin-top: 10%;
}
.contenedor-nosotros .text-nosotros p{
    text-align: center;
    font-size: 20px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}
.contenedor-nosotros .nosotros-titulo{
    width: 50%;
    margin: auto;
    text-align: center;
}
.contenedor-nosotros .nosotros-titulo h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}
.contenedor-nosotros .nosotros-titulo hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}
.contenedor-nosotros .box-nosotros{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedor-nosotros .box-nosotros .card-nosotros1{
    width: 45%;
    margin: 20px;
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contenedor-nosotros .box-nosotros .card-nosotros1 .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .text-nosotros1{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
    border: 2px solid var(--red);
    margin-top: 30px;
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .text-nosotros1 h4{
    font-size: 27px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
    color: var(--red);
    
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .text-nosotros1 p{
    font-size: 19px;
    text-align: center;
    line-height: 35px;
    transition: 200ms;
    color: var(--black);
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .text-nosotros1:hover{
    border:2px solid var(--blue)
}
.contenedor-nosotros .box-nosotros .card-nosotros1 .text-nosotros1:hover h4{
    color:var(--blue);
}
.contenedor-nosotros .box-nosotros .card-nosotros2{
    width: 45%;
    margin: 20px;
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contenedor-nosotros .box-nosotros .card-nosotros2 .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .text-nosotros2{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
    border: 2px solid var(--red);
    margin-top: 30px;
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .text-nosotros2 h4{
    font-size: 27px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
    color: var(--red);
    
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .text-nosotros2 p{
    font-size: 19px;
    text-align: center;
    line-height: 35px;
    transition: 200ms;
    color: var(--black);
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .text-nosotros2:hover{
    border:2px solid var(--blue)
}
.contenedor-nosotros .box-nosotros .card-nosotros2 .text-nosotros2:hover h4{
    color:var(--blue);
}
.contenedor-nosotros .box-nosotros .card-nosotros3{
    width: 45%;
    margin: 20px;
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contenedor-nosotros .box-nosotros .card-nosotros3 .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .text-nosotros3{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
    border: 2px solid var(--red);
    margin-top: 30px;
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .text-nosotros3 h4{
    font-size: 27px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
    color: var(--red);
    
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .text-nosotros3 p{
    font-size: 19px;
    text-align: center;
    line-height: 35px;
    transition: 200ms;
    color: var(--black);
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .text-nosotros3:hover{
    border:2px solid var(--blue)
}
.contenedor-nosotros .box-nosotros .card-nosotros3 .text-nosotros3:hover h4{
    color:var(--blue);
}


/*Media Query*/
@media only screen and (max-width:940px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{
        color: var(--green);
    }
    .btn-menu > .fa-times:hover{
        color: var(--green);
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .list-container .listas{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--green);
    }
    .menu .list-container .listas li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--green);
        text-align: center;
    }
    .menu .list-container .listas li a{
        font-size: 30px;
    }
    .menu .list-container .listas li a.activo{
        background: none;
        color: var(--green);
    }
    .menu .list-container .listas li a:hover{
        background: none;
        color: var(--green);
    }
}
.inicio .info-container .tema-derivadas{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.inicio .info-container .info-derivadas{
    margin-top: 40px;
}


.incio .info-container .tema-limites{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}



.inicio .info-container .info-derivadas .deri-suma{
    text-align: left;
}
.inicio .info-container .info-derivadas .deri-cociente{
    text-align: left;
}
.inicio .info-container .info-derivadas .defi-deri{
    text-align: justify;
    margin-top: 50px;
}
.inicio .info-container .contenedor-inge .gallery-derivadas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
.inicio .info-container .contenedor-inge .gallery-derivadas img{
    width: calc(60% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.fondo-deri{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/derivadas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.fondo-deri .deg-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.fondo-deri .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.fondo-deri .contenedor-inge{
    width: 90%;
    margin: auto;
    padding-top: 10%;
}
.fondo-deri .contenedor-inge .titulo{
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.fondo-deri .contenedor-inge .titulo h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;

}
.fondo-deri .contenedor-inge .titulo hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}


.inicio .info-container .defi-disc{
    text-align: justify;
}
.inicio .info-container .tema-inecuaciones{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

.inicio .info-container .tema-conjuntos{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
.inicio .info-container .tema-proposiciones{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
.inicio .info-container .titulos-alg{
    margin-top: 70px;
    font-size: 30px;
}
.inicio .info-container .info-gallerys{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.inicio .info-container .info-gallerys img{
    width: calc(38% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--blue);
}
.inicio .info-container .mate-img img{
    display: flex;
    margin: auto;
    margin-top: 30px;
}
.inicio .info-container .img-alg img{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 40%;
}
/*Imagen fisica*/
.img-fisica{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/fisica.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-fisica .fisica{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-fisica .fisica h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-fisica .fisica hr{
    width: 130px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*Img Programacion*/
.img-programacion{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/programacion.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-programacion .programacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-programacion .programacion h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-programacion .programacion hr{
    width: 320px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG Estadistica*/
.img-esta{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/estadistica.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-esta .esta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-esta .esta h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-esta .esta hr{
    width: 216px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*Img pensamiento*/
.img-pensamiento{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/pensamiento.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-pensamiento .pensamiento{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-pensamiento .pensamiento h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-pensamiento .pensamiento hr{
    width: 265px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.inicio .info-container .img-co img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 90%;

}
.inicio .info-container .videos{
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
}
.incio .info-container video{
    width:100%;
    
}
.inicio .info-container iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.creditos {
    width: 100%;
    margin-top: 120px;
    position: relative;
    background-attachment: fixed;
    border-top: 10px solid var(--blue);
    display: flex;

    
}
.creditos .info-creditos{
    width: 200px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.creditos .info-creditos h2{
    color:black;
    margin-left: 20px;
    
}
.creditos .contenido-creditos{
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;   
    display: flex;
    flex-direction: column;
    
}
.creditos .contenido-creditos h3{
    color:black;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 1.0vw;   
}
.creditos .img-creditos{
    margin-left: 20px;    
}
.creditos .img-creditos img{
    width: 150px;
    height: auto;
}

.img-mate{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-mate1.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-mate .mate1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-mate .mate1 h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-mate .mate1 hr{
    width: 293px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG IndexM*/
.img-indexM{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/FondoMate.png) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-indexM .indexM{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-indexM .indexM h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-indexM .indexM hr{
    width: 290px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG IndexF*/
.img-indexF{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/indexF.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-indexF .indexF{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-indexF .indexF h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-indexF .indexF hr{
    width: 130px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG IndexP*/
.img-indexP{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/FondoProgram.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-indexP .indexP{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-indexP .indexP h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-indexP .indexP hr{
    width: 335px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG Programacion2*/
.img-programacion2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/programacion2.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-programacion2 .programacion2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-programacion2 .programacion2 h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-programacion2 .programacion2 hr{
    width: 372px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.inicio .info-container .img-pro img{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 70%;
}
.inicio .info-container .img-pro1 img{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}
/*IMG Calculo*/
.img-calculo{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/Calculo.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-calculo .calculo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-calculo .calculo h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-calculo .calculo hr{
    width: 407px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
/*IMG Fisica2*/
.img-fisica2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img2/programacion2.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-fisica2 .fisica2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-fisica2 .fisica2 h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-fisica2 .fisica2 hr{
    width: 165px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

/*Imagen forms*/
.fondo-forms{
    position: center;
    width: 100%;
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.fondo-forms .info-forms{
    position: center;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fondo-forms .info-forms h2{
    font-size: 25px;
    color: var(--blue);
    font-weight: 200;
}
.fondo-forms .info-forms .link_forms{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(../img2/fisica.jpg) ;
}
.fondo-forms .info-forms .link_forms A{
    font-size: 1.8vw;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}



